.container{
    width: 40vw;
    height: 40vh;   
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 white;
    background-image: url("/src\assets\nofound.png");
    background-size: cover;
}


.contenido{
    background: linear-gradient(var(--citrine), var(--miGray));
    text-shadow: 0 5px 10px rgb(247, 247, 247);
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 white;
}

.texto{
    font-family: "Courier New", Courier, monospace;

}